<!-- launch file for MML demo in simulation with realtime matplotlib visualizations -->
<launch>
    <include file="$(find mml_guidance)/launch/mml_sim_estimator.launch" >
		<arg name="is_visualization" value="true"/>
	</include>

	<node pkg="mag_pf_visualization" type="mag_pf_visualization_node.py" name="mag_pf_visualization" output="screen">
		<remap from="odom" to="/robot0/odom"/>
	</node>
</launch>
